<label><%= l(:label_project_plural) %></label>
<% 
    if !params[:account_id].blank?
        id = 'account_id'
    elsif !params[:contact_id].blank?
        id = 'contact_id'
    end
%>

<div>
    <div class="wk-contextual">
        <%= link_to l(:label_new_billing_project), url_for(id => params[id], :controller => 'wkaccountproject', :action => 'edit'), :class => 'icon icon-time-add' %>
    </div>
    <%= render :partial => 'wkaccountproject/account_project_list'%>
</div>    
    