<label><%= l(:label_project_plural) %></label>
<%
    if !params[:account_id].blank?
        id = 'account_id'
    elsif !params[:contact_id].blank?
        id = 'contact_id'
    elsif !params[:lead_id].blank?
        id = 'lead_id'
    end
%>

<div>
    <div class="wk-contextual">
        <%= link_to sprite_icon('add', l(:label_new_billing_project)), url_for(id => params[id], :controller => 'wkaccountproject', :action => 'edit', id: nil), :class => 'icon icon-add' %>
    </div>
    <%= render :partial => 'wkaccountproject/account_project_list'%>
</div>
