<% content_for :sidebar do %>
	<%= render :partial => 'wkdashboard/sidebar' %>
<% end %>
<h2><%= l(:label_dashboards) %></h2>
			<% get_graphs_with_type.each do |graphName, gType| %>
				<div class="icon-gravatar">
					<%= tag("embed",
						:type => "image/svg+xml", :src => url_for(:controller => 'wkdashboard',
						:action => 'graph',
						:graph => graphName, :graph_type => gType)) %>
				</div>
			<% end %>