<h2><%= l(:label_shift) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= render :partial => 'wkshift/shift_index'%>
<% content_for :sidebar do %>
      <%= render :partial => 'wkscheduling/sidebar' %>
<% end %>