</fieldset>
<% if(Setting.plugin_redmine_wktime['label_no_additional_details_for_user'].blank? && Setting.plugin_redmine_wktime['label_no_additional_details_for_user'].to_i == 0) %>
<div >			
	<% addressObj = @user.erpmineuser.address %>
	<%=h hidden_field_tag('address_id', (@user.erpmineuser.blank? ? "" : @user.erpmineuser.address_id) ) %>
	<%= render partial: "wklead/contact_info", locals: { address: addressObj, :disable => (@user == User.current ? true : false) }%>
	
</div>
<% end %>