<h3><%= l(:label_poll) %></h3>
<ul>
<li><%= link_to l(:label_poll), url_for(:controller => "wkpoll", :action => "index", :tab => "wkpoll") %></li>

<li><%= link_to l(:label_poll_settings), url_for(:controller => "wkpoll", :action => "settings") %></li>
</ul>
