<h2><%= l(:label_brand) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= render :partial => 'wkbrand/brand_list'%>
<% content_for :sidebar do %>
      <%= render :partial => 'wkproduct/sidebar' %>
<% end %>