<h2><%= l(:label_uom) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= render :partial => 'wkunitofmeasurement/uom_index'%>
<% content_for :sidebar do %>
      <%= render :partial => 'wkproduct/sidebar' %>
<% end %>