<h3><%= l(:label_settings) %></h3>

<ul>
<li><%= link_to l(:label_payroll), url_for(:controller => "wkpayroll", :action => "index", :tab => "payroll") %></li>
<li><%= link_to l(:label_payroll_user_settings), url_for(:controller => "wkpayroll", :action => "usrsettingsindex") %></li>
<% if validateERPPermission('A_TE_PRVLG') %>
<li><%= link_to l(:label_payroll_settings), url_for(:controller => "wkpayroll", :action => "payrollsettings") %></li>
<% end %>
<ul>
