<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<div style="float: left;">
<h2><%= l(:label_payroll) %></h2>
</div>


 <%= link_to image_tag('edit.png'), {:controller => controller.controller_name, :action => 'edit', :user_id => 1, :tab => controller.controller_name},
                                       :title => l(:button_edit) %>




<% html_title(l(:label_ta)) -%>