<h2><%= l(:label_invoice) %></h2>
<%= render partial: "wkinvoice/new_invoice", locals: { :isUnbilled => true, :unbilled_label => l(:label_populate_unbilled_items), :blankForProject => false, :moduleType => 'i' } %>