#divError, div.flash{
  padding: 4px 4px 4px 30px;
  margin-bottom: 12px;
  font-size: 1.1em;
  border: 2px solid;
}
div.flash {margin-top: 8px;}

div.flash.error, #divError { 
  background-color: #ffe3e3;
  border-color: #dd0000;
  color: #880000;
}
#issueLog .drdn-trigger{
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0px;
}
#issueLog .drdn-items > * {
  color: #555 !important;
}
#issueLog .drdn-content {width:280px;}