<div style="display:none">
<%# template row used by the 'add row' button %>
<table id="issueTemplate">
<tbody>
	<% @row = 0 %>
	<%= render :partial => 'edit_issues2', :locals => {:entry => nil, :isTemplate => true}%>
	<%= render :partial => 'edit_hours', :locals => {:entry => nil, :isTemplate => true, :padAt => 'end', :padTill => @renderer.getDaysPerSheet + 1}%>
</tbody>
</table>
</div>