<%	custom_field_values = entry.nil? ? @new_custom_field_values : entry.custom_field_values
cf_value = nil
if !Setting.plugin_redmine_wktime['wktime_enter_cf_in_row1'].blank? &&
		(cf_value = custom_field_values.detect { |cfv| 
			cfv.custom_field.id == Setting.plugin_redmine_wktime['wktime_enter_cf_in_row1'].to_i }) != nil %>
	<td align="left">
		<% if @editable %>
			<%= custom_field_tag "time_entry[]", cf_value %>
		<% else %>
			<%= cf_value.value %>
		<% end %>
	</td>
<%	end %>


<%	cf_value = nil
if !Setting.plugin_redmine_wktime['wktime_enter_cf_in_row2'].blank? &&
		(cf_value = custom_field_values.detect { |cfv| 
			cfv.custom_field.id == Setting.plugin_redmine_wktime['wktime_enter_cf_in_row2'].to_i }) != nil %>
	<td align="left">		
		<% if @editable %>
			<%= custom_field_tag "time_entry[]", cf_value %>
		<% else %>
			<%= cf_value.value %>
		<% end %>
	</td>	
<%	end %>
