<tr>
	<td ></td>
	<td ></td>
	<% if controller.enterCommentInRow %>
		<td ></td>
	<% end %>
	<% if controller.getUnitLabel.blank? %>
		<% if controller.enterCustomFieldInRow(1) %>
			<td ></td>
		<% end %>
		<% if controller.enterCustomFieldInRow(2) %>
			<td ></td>
		<% end %>
	<% end %>
	
	<td align = "right">
		<%= l(:"label_#{str}") %>
	</td>
	<% col_num = (Date.today.wday).to_s %>
	<% disable = true %>	
	<% if (isAccountUser)  %>			
		<% disable = false %>
	<% end %>
	<% for i in 0..6%>
		<% if (isEditable) %>
			<%  if ("#{str}" == "start" || "#{str}" == "end") && (!Setting.plugin_redmine_wktime['wktime_enable_clock_in_out'].blank? &&
				Setting.plugin_redmine_wktime['wktime_enable_clock_in_out'].to_i == 1) && ("#{(i)}" == "#{col_num}") &&  User.current.id == @user.id   %>
				<td align = "center"><%= submit_tag "#{str}" == "start" ? l(:"label_clock_in") : l(:"label_clock_out"), :type => "button", :disabled => "#{str}" == "end" ? true : false, :id => "#{str}_#{(i+1)}",  :onclick => "javascript:setClockInClockOut('#{str}','#{col_num}');" %> </td>
			<% else %>
				<td align = "center"><%= text_field_tag "#{str}_#{(i+1)}" ,"0:00",:size => 4, :disabled => disable,  :onchange => "validateHr(this,#{(i+1)});" %></td>
			<% end %>
		<% else %>
			<td align = "center"><%= value %></td>
		<% end %>
	<% end %>
	<td ></td>
</tr>