<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>

<%= form_tag({:controller => controller_name, :action => 'edit'}, :method => :post, :id => 'wktime_new') do %>

<h2><%= l(:label_wktime) %></h2>
<%= render :partial => 'te_new' %>

<% end %>