<label><%= controller.sectionHeader %></label>
<div>
	<div class="wk-contextual">
			<%= link_to controller.newcomponentLbl, url_for(:controller => controller_name, :action => 'edit', :newItem => true, :parentId => currentObj.id), :class => 'icon icon-time-add' %>
	</div>
	<% @productInventory = currentObj.components.includes(:asset_property, :product_item) %>
	<%= render :partial => 'wkproductitem/product_item_list'%>
</div>
	