<%
	accordianHeader = controller.sectionHeader
	newAccordianLink = controller.newcomponentLbl
	if !currentObj.parent_id.blank?
		accordianHeader = l(:label_components)
		newAccordianLink = l(:label_new_component) 
	end
%>
<label><%#= currentObj.components.blank? ?  : (currentObj.components[0].parent_id.blank? ? controller.sectionHeader  : l(:label_components) ) %>
<%= accordianHeader %>
</label>
<div>
	<div class="wk-contextual">
			<%= link_to newAccordianLink, url_for(:controller => controller_name, :action => 'edit', :newItem => true, :parentId => currentObj.id), :class => 'icon icon-time-add' %>
	</div>
	<% @productInventory = currentObj.components.includes(:asset_property, :product_item) %>
	<%= render :partial => 'wkproductitem/product_item_list'%>
</div>
	