<h3><%= l(:report_attendance) %></h3>

<ul>
    <li><%= link_to l(:label_wk_leave), url_for(controller: "wkattendance", action: "index", tab: "wkattendance") %></li>
    <li><%= link_to l(:label_leave_request), url_for(controller: "wkleaverequest", action: "index") %></li>
</ul>


