<h3><%= l(:label_previous_responses) %></h3>

<ul>
    <% urlhash = {:controller => "wksurvey", :action => "survey", :survey_id=> params[:survey_id], :response_id => "new"} %>
    <li><%= link_to l(:label_new_response), url_for(get_survey_url(urlhash, params, false)) %></li>
    <li><br/></li>
    <% if @showSideNav %>
        <% @survey_responses.each do |response| %>
            <% urlhash = {:controller => "wksurvey", :action => "survey", :survey_id=> response.survey_id, :response_id => response.id} %>
            <li><%= link_to (l(:label_response) + "(" + response.response_date.strftime("%Y-%m-%d %H:%M") + ")"), url_for(get_survey_url(urlhash, params, false)) %></li>
        <% end %>
    <% end %>
    <% if @showSideNav || @survey_responses.size == 1 %>
        <li><br/></li>
        <% urlhash = {:controller => "wksurvey", :action => "survey", :survey_id=> params[:survey_id], :showresult => true} %>
        <li><%= link_to l(:label_survey_result), url_for(get_survey_url(urlhash, params, false)) %></li>
    <% end %>
</ul>