<label><%= l(:label_survey) %></label>
<%
    survey_helper = Object.new.extend(WksurveyHelper)
    surveyFor = survey_helper.getSurveyForType(params)
%>
<div>
    <div class="wk-contextual">
		<%= link_to l(:label_new_survey), url_for(:controller => "wksurvey", :action => "edit", :surveyForType => surveyFor[:surveyForType], :surveyForID => surveyFor[:surveyForID]), :class => 'icon icon-time-add' %>
    </div>
	<%= render :partial => 'wksurvey/survey_list', :local => {:params => params}%>
</div>