<%= javascript_heads %>
<%= javascript_include_tag "chart.min" %>
<%= title @survey.name %>
<div style="font-family: 'Lato', Helvetika, Calibri, Arial, sans-serif">
  <%= render :partial => "survey_result" %>
</div>