<% padding = 25 if padding.blank?
entries.each_with_index do |row_col,index| %>
	<% style = index == entries.length-1 ? "border-bottom: solid thin;" : "" %>
	<tr style="width:100%;">
		<td align="left" style="padding-left: <%=padding%>px;"><%= row_col[0] unless row_col[1] == 0%></td>
		<td align="right" style="<%=style%>"><%= "%.2f" % row_col[1] unless row_col[1] == 0%></td>
		<td></td>
	</tr>
<% end %>