<h2><%=@activityEntry.blank? ? l(:label_new_item, l(:field_activity)) : l(:text_edit_activity) %></h2>

<%= form_tag({:controller => 'wkcrmactivity', :action => 'update'}, :method => :post, :id => 'query_form') do %>
	<%= render :partial => 'wkcrmactivity/activity_edit'%>

	<div>
		<%= submit_tag l(:button_save) ,:id => 'wkactivity_save'%>
	</div>

<% end %>