<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
<div id="accordion">
  <label><%= l(:label_activity_plural) %></label>
  <div>
	
  </div>
  <label><%= l(:label_history) %></label>
  <div>
   
  </div>
</div>
 
<script>
$( "#accordion" ).accordion();
</script>