<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
<div id="accordion">
	<% getAccordionSection(currentObj.class.name).each do |section| %>
		<%= render partial: "#{section}/#{section}", locals: { currentObj: currentObj }%>
	<% end %>
</div>
 
<script>
$( "#accordion" ).accordion();
</script>