<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
<div id="accordion">
	<%= render partial: "wkcrmactivity/wkcrmactivity", locals: { currentObj: currentObj }%>
	<% if currentObj.class.name == 'WkAccount'%>
		<%= render partial: "wkcrmcontact/wkcrmcontact", locals: { currentObj: currentObj }%>
		<%= render partial: "wkopportunity/wkopportunity", locals: { currentObj: currentObj }%>
	<% end %>
</div>
 
<script>
$( "#accordion" ).accordion();
</script>